<a href="https://colab.research.google.com/github/Ali-Asgar-Lakdawala/ML-Practice/blob/main/Support_Vector_Machine_Airline_tweets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <u><b> Objective </b></u>
## <b> You are given a data of US Airline tweets and their sentiment. The task is to do sentiment analysis about the problems of each major U.S. airline. Twitter data was scraped from February of 2015 and contributors were asked to first classify positive, negative, and neutral tweets, followed by categorizing negative reasons (such as "late flight" or "rude service"). </b>

<br>
<br>

## <b>Things to do :</b>
* ### Read the tweets.csv data, clean and tokenize the tweets using nltk library.
* ### Count vectorize the tweets so that you end up with a sparse matrix (which will be your $X$). 
* ### You are supposed to build a SVM classifier (a binary classification in fact). Since the data contains three levels of sentiment(positive, negative and neutral), you should remove the sentences which are neutral. Once you do that you will have two classes only (positive and negative). You can set the label of positive tweets to 1 and negative tweets to 0.
* ### Once you have built the SVM classifier, evaluate this model across various metrics. Also plot the ROC curve and Precision-Recall curve. Report the areas under these two curves along with other metrics.
* ### Perform GridSearch cross validation for various values of $C$ and $gamma$. These will be the hyperparameters which you would play around with.
* ### Explain your observations and the underlying reasons for these.
* ### Try checking if <code>tfidfvectorizer</code> helps you gain lift in model's performance.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/ML/Tweets.csv')

In [ ]:
df

                 tweet_id  ...               user_timezone
0      570306133677760513  ...  Eastern Time (US & Canada)
1      570301130888122368  ...  Pacific Time (US & Canada)
2      570301083672813571  ...  Central Time (US & Canada)
3      570301031407624196  ...  Pacific Time (US & Canada)
4      570300817074462722  ...  Pacific Time (US & Canada)
...                   ...  ...                         ...
14635  569587686496825344  ...                         NaN
14636  569587371693355008  ...                         NaN
14637  569587242672398336  ...                         NaN
14638  569587188687634433  ...  Eastern Time (US & Canada)
14639  569587140490866689  ...                         NaN

[14640 rows x 15 columns]

In [ ]:
airlines_names=df.airline.value_counts().index.to_list()

In [ ]:
for i,value in enumerate(airlines_names) :
  value=value.replace(' ','')
  airlines_names[i]="@"+value

In [ ]:
airlines_names.append('@AmericanAir')

In [ ]:
airlines_names

['@United',
 '@USAirways',
 '@American',
 '@Southwest',
 '@Delta',
 '@VirginAmerica',
 '@AmericanAir']

In [ ]:
df=df.loc[:,['airline_sentiment','text']]

In [ ]:
df=df[df['airline_sentiment']!='neutral']

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
from nltk.corpus import stopwords

In [ ]:
stop = stopwords.words('english')+airlines_names

In [ ]:
df.text = df.text.apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
vectorizer = TfidfVectorizer(max_df=0.95)
X = vectorizer.fit_transform(df.text)

In [ ]:
Y=df['airline_sentiment']

In [ ]:
from sklearn import svm

In [ ]:
clf = svm.SVC()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.2, random_state=2)

In [ ]:
clf.fit(X_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
y_pred=clf.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix

In [ ]:
confusion_matrix(y_test,y_pred)

array([[1850,   23],
       [ 176,  260]])

In [ ]:
clf.get_params

<bound method BaseEstimator.get_params of SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)>

In [ ]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

    negative       0.91      0.99      0.95      1873
    positive       0.92      0.60      0.72       436

    accuracy                           0.91      2309
   macro avg       0.92      0.79      0.84      2309
weighted avg       0.91      0.91      0.91      2309

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
param_grid = {'C': [0.1, 1, 10, 100, 1000]}

In [ ]:
grid = GridSearchCV(clf, param_grid, refit = True, verbose = 3,n_jobs=-1,cv=5)

In [ ]:
grid.fit(X_train,y_train)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 out of  25 | elapsed:  1.6min finished

GridSearchCV(cv=5, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'C': [0.1, 1, 10, 100, 1000]}, pre_dispatch='2*n_jobs',
             refit=True, return_train_score=False, scoring=None, verbose=3)

In [ ]:
y_pred=grid.predict(X_test)

In [ ]:
sample=['the food not was bad but good']

In [ ]:
sample1 = vectorizer.transform(sample)

In [ ]:
grid.predict(sample1)

array(['negative'], dtype=object)

In [ ]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

    negative       0.92      0.98      0.95      1873
    positive       0.89      0.64      0.74       436

    accuracy                           0.92      2309
   macro avg       0.91      0.81      0.85      2309
weighted avg       0.92      0.92      0.91      2309

In [ ]:
msg_train,msg_test,label_train,label_test = train_test_split(df.text,df.airline_sentiment,test_size=0.2)

In [ ]:
train_vectorized = vectorizer.transform(msg_train)
test_vectorized = vectorizer.transform(msg_test)

In [ ]:
train_array= train_vectorized.toarray()
test_array = test_vectorized.toarray()

In [ ]:
from sklearn.naive_bayes import GaussianNB
tweets_model = GaussianNB().fit(train_array,label_train)

In [ ]:
train_preds = tweets_model.predict(train_array)
test_preds = tweets_model.predict(test_array)

In [ ]:
# Confusion matrices for train and test 
print(confusion_matrix(label_test,test_preds))

[[1345  509]
 [ 158  297]]

In [ ]:
# Print the classification report for train and test
print(classification_report(label_test,test_preds))

              precision    recall  f1-score   support

    negative       0.89      0.73      0.80      1854
    positive       0.37      0.65      0.47       455

    accuracy                           0.71      2309
   macro avg       0.63      0.69      0.64      2309
weighted avg       0.79      0.71      0.74      2309